body {
    background-color: gray;
}
.buttons {
    margin-top: 100px;
    display: flex;   
}
.button {
    width: 60px;
    height: 70px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    border: black solid 3px;
    color: whitesmoke;
    margin: 7px;
    padding: 5px;
}
.sound {
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
    color: #f6c667;
}
#play {
    margin: 7px;
    border: black solid 3px;
    width: 70px;
    height: 80px;
    transform: scale(1.1);
}